[submodule "dpdk_gw_nf/onvm-dev"]
	path = dpdk_gw_nf/onvm-dev
	url = https://github.com/sdnfv/openNetVM-dev.git
[submodule "dpdk_gw_nf/openNetVM-dev"]
	path = dpdk_gw_nf/openNetVM-dev
	url = https://github.com/ratnadeepb/openNetVM-dev.git
